{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'fooding.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>

    </nav>
    <main>
  
        <div class="container1">
        <section class="results-section results--grid">
          <div class="profile">
            <div class="profile__image"><img src="img/agra.jpg" alt="Doggo"/></div>
            <div class="profile__info">
                <a href="#" class="button instagram"><span class="gradient"></span>Sign Up</a><br><br>
              <p class="profile_info_extra">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, error? Tempore magnam quidem quasi ab assumenda perferendis corrupti culpa necessitatibus, beatae ut veniam! Consequatur deserunt dignissimos perspiciatis ut quisquam! Fugit dicta temporibus ipsam quidem autem, dolores corporis laboriosam adipisci molestiae nemo similique, in beatae est amet. Optio voluptate porro placeat?</p>
            </div>        
          </div>

          <div class="profile">
            <div class="profile__image"><img src="img/kolkata.jpg" alt="Doggo"/></div>
            <div class="profile__info">
                <a href="#" class="button instagram"><span class="gradient"></span>Sign Up</a><br><br>
              <p class="profile_info_extra">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, error? Tempore magnam quidem quasi ab assumenda perferendis corrupti culpa necessitatibus, beatae ut veniam! Consequatur deserunt dignissimos perspiciatis ut quisquam! Fugit dicta temporibus ipsam quidem autem, dolores corporis laboriosam adipisci molestiae nemo similique, in beatae est amet. Optio voluptate porro placeat?</p>
            </div>
          </div>

          <div class="profile">
            <div class="profile__image"><img src="img/kolkata.jpg" alt="Doggo"/></div>
            <div class="profile__info">
                <a href="#" class="button instagram"><span class="gradient"></span>Sign Up</a><br><br>
              <p class="profile_info_extra">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, error? Tempore magnam quidem quasi ab assumenda perferendis corrupti culpa necessitatibus, beatae ut veniam! Consequatur deserunt dignissimos perspiciatis ut quisquam! Fugit dicta temporibus ipsam quidem autem, dolores corporis laboriosam adipisci molestiae nemo similique, in beatae est amet. Optio voluptate porro placeat?</p>
            </div> 
          </div>

          <div class="profile">
            <div class="profile__image"><img src="img/kolkata.jpg" alt="Doggo"/></div>
            <div class="profile__info">
                <a href="#" class="button instagram"><span class="gradient"></span>Sign Up</a><br><br>
              <p class="profile_info_extra">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, error? Tempore magnam quidem quasi ab assumenda perferendis corrupti culpa necessitatibus, beatae ut veniam! Consequatur deserunt dignissimos perspiciatis ut quisquam! Fugit dicta temporibus ipsam quidem autem, dolores corporis laboriosam adipisci molestiae nemo similique, in beatae est amet. Optio voluptate porro placeat?</p>
            </div>
          </div>
        </section>
    </div>

        
      </main>
</body>
</html>